In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("insurance_data.csv")

In [3]:
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [4]:
from sklearn.linear_model import LogisticRegression

In [5]:
model=LogisticRegression()

In [6]:
model.fit(df[["age"]],df.bought_insurance)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [7]:
model.predict([[21]])

array([0], dtype=int64)