In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("insurance_data.csv")

In [3]:
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train,X_test,y_train,y_test=train_test_split(df[["age"]],df.bought_insurance,test_size=0.2)

In [11]:
len(X_train)

21

In [7]:
len(X_test)

6

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
model=LogisticRegression()

In [13]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
X_test

    age
4    46
26   23
1    25
15   55
14   49
21   26

In [15]:
model.predict(X_test)

array([1, 0, 0, 1, 1, 0], dtype=int64)

In [18]:
y_test

4     1
26    0
1     0
15    1
14    1
21    0
Name: bought_insurance, dtype: int64

In [20]:
model.score(X_test,y_test)

1.0

In [22]:
model.score(X_train,y_train)

0.8571428571428571

In [24]:
model.predict([[25]])

array([0], dtype=int64)

In [26]:
model.predict_proba([[25]])

array([[0.83360332, 0.16639668]])

In [28]:
model.predict([[55]])

array([1], dtype=int64)

In [29]:
model.predict_proba([[55]])

array([[0.14468343, 0.85531657]])